extends ../layout/master

block vars
  - var title = 'Freshmen Orientation Project 2016 | NUS Computing';
  - var bodyClass = 'index';
  - var description = 'NUS School of Computing Freshmen Orientation Projects presents Virtutem Quattor. Join us to experience a summer like never before!'; 
    
block header
  .hero(data-video=baseUrl + 'video/background.mp4')
    .content
      h1
        | Four Events.
        br
        | One Unforgettable Summer.
      .call
        a.btn.btn-primary.btn-lg(href='https://www.facebook.com/SoCFOP/',target='_blank')
          | Connect With Us on Facebook
        a.btn.btn-primary.btn-lg.signup(href='http://tiny.cc/FOP2016',target='_blank')
          | Sign Up Now
    .video-overlay

block main
  .block-text.intro
    p
      | Are you an incoming freshman who wants to find out more about the school? Or do you simply
      | want to make some friends and have fun?
    p
      | NUS Computing Freshmen Orientation Projects (FOP) 2016 presents to you 
      em Virtutem Quattuor. 
      | With an exciting lineup of events, we will help you integrate into our Computing family in no time. At
      | FOP, not only do you get the opportunity to meet other incoming freshmen, you will also meet
      | seniors who will provide valuable advice to follow you through your University years. Join us
      | this summer for the best freshmen experience you’ll ever have!

  .projects
    .project-row
      a(href=url('fsc')).project.fsc
        p.aspect 
          span Socialize
        h2 Freshmen Social Camp
        p.date 11-14 June
        
        .description
          p 
            | Socialise in the summer holidays! Meet new friends from SoC 
            | before University starts!

      a(href=url('fow')).project.fow
        p.aspect 
          span Orientate
        h2 Freshmen Orientation Week
        p.date 24-27 July
        
        .description
          p 
            | Orientate yourself! Get more familiar with the school 
            | environment and find out more about school life!


    .project-row
      a(href=url('rag-flag')).project.rag
        p.aspect 
          span Bond
        h2 
          | RAG 
          span.amp & 
          | FLAG 
        
        p.date May-August
        
        .description
          p 
            | Bond together as one SoC family! Construct magnificent 
            | floats and dance together to show our SoC spirit!
            
          
      a(href=url('bash')).project.bash
        p.aspect 
          span Celebrate 
        h2 Bash 
        p.date 12 August
        
        .description
          p 
            | Celebrate the end of Orientation with a blast! Join us 
            | to crown the next Mr and Ms SoC!
  
  .timeline-container
    .timeline
      h2 Timeline of events
      
      h3 June
      
      ul
        li 
          .tl-date 11-14 
          .tl-desc Freshmen Social Camp (FSC)
        
        li
          .tl-date 17 
          .tl-desc RAG Induction
      
      h3 July
      
      ul
        li
          .tl-date 11, 12, 14 
          .tl-desc
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/fpw/refresher/',target='_blank')
              | Programming Refresher Workshop for Poly students
            p 
              | This problem-based refresher workshop will guide participants through 
              | several problem-solving exercises which are commonly covered in CS1010 
              | (or its equivalent). Programming skills covered include: array manipulation, 
              | iterations, recursion, sorting and searching. Corresponding problem-solving 
              | skills covered include: manipulation of both collections of homogeneous 
              | data and numerical data through repetitive process and divide-and-conquer 
              | method.
        li
          .tl-date 13 
          .tl-desc
            h4: a(href='http://www.nus.edu.sg/celc/programmes/qet.php',target='_blank') 
              | Qualifying English Test (QET)
            p 
              | The QET is an English Language test set by the Centre for English Language Communication. 
              | It must be taken by students who do not possess the necessary English Language 
              | qualifications when they enter the university.
        
        li
          .tl-date 18 
          .tl-desc Academic Day
        
        li
          .tl-date 19, 20, 22  
          .tl-desc
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/fpw/ipw/',target='_blank') 
              | Introduction to Programming Workshop for JC students
            p
              | This workshop is designed to answer questions like “What is programming? Is programming 
              | hard?” It is therefore targeted at students who have #[strong never] programmed before 
              | and have absolutely no idea what programming is.
            p
              | The workshop will introduce you to the basic tenets of algorithmic thinking that 
              | provides a systematic way of solving problems. Thereafter, you will progress 
              | to learn basic constructs of C, Java and Python so that you can design 
              | and write simple programs. CS and CEG students will learn C. IS and BZA 
              | students will learn Java and Python respectively.
            p
              | The workshop adopts small group lectures and practical lab sessions as the 
              | primary teaching modes. You will have plenty of hands-on opportunities to 
              | write simple programming codes.
        
        li
          .tl-date 24 - 27 
          .tl-desc Freshmen Orientation Week (FOW)
      
      h3 August
      
      ul
        li
          .tl-date 1#[sup st]
          .tl-desc 
            h4: a(href='http://nus.edu.sg/osa/so/events/fic',target='_blank')
              | Freshmen Inauguration Ceremony (FIC)
            p
              | The Freshmen Inauguration Ceremony (FIC) is an annual event attended by NUS Senior 
              | Management, Administrators, Student Leaders and freshmen, with the aim of welcoming 
              | the newly-matriculated freshmen into the University. The ceremony features The FIC 
              | Musical, a light-hearted, tongue-in-cheek musical production which depicts the chronicles 
              | of NUS students throughout their university life. The script is written by Shiv Tandan, 
              | NUS Alumni, and narrated by two NUS students. They will be accompanied by a wide 
              | genre of performing groups on campus, showcasing NUS talents and campus vibrancy.
        
        li
          .tl-date 2 
          .tl-desc Flag Day
        
        li
          .tl-date 6 
          .tl-desc RAG Day
        
        li
          .tl-date 12 
          .tl-desc Bash