extends ../layout/master

block vars
  - var title = 'Freshmen Orientation Project 2016 | NUS Computing';
  - var bodyClass = 'index';
  - var description = 'NUS School of Computing Freshmen Orientation Projects presents Virtutem Quattor. Join us to experience a summer like never before!'; 
    
block header
  .hero
    .content
      h1
        | Four Events.
        br
        | One Unforgettable Summer.
      .call
        a.btn.btn-primary.btn-lg(href='https://www.facebook.com/SoCFOP/',target='_blank')
          | Connect With Us on Facebook
        a.btn.btn-primary.btn-lg.signup(href='http://tiny.cc/FOP2016',target='_blank')
          | Sign Up Now
    .video-overlay(data-video=baseUrl + 'video/background.mp4')
      button(type='button').btn.btn-default
        i.fa.fa-pause
        | 
        span Pause

block main
  .block-text.intro
    p
      | Are you an incoming freshman who wants to find out more about the school? Or do you simply
      | want to make some friends and have fun?
    p
      | NUS Computing Freshmen Orientation Projects (FOP) 2016 presents to you 
      em Virtutem Quattuor. 
      | With an exciting lineup of events, we will help you integrate into our Computing family in no time. At
      | FOP, not only do you get the opportunity to meet other incoming freshmen, you will also meet
      | seniors who will provide valuable advice to follow you through your University years. Join us
      | this summer for the best freshmen experience you’ll ever have!

  section.projects
    .project-row
      a(href=url('fsc')).project.fsc
        p.aspect 
          span Socialize
        h2 Freshmen Social Camp
        p.date 11-14 June
        
        .description
          p 
            | Socialise in the summer holidays! Meet new friends from SoC 
            | before University starts!

      a(href=url('fow')).project.fow
        p.aspect 
          span Orientate
        h2 Freshmen Orientation Week
        p.date 24-27 July
        
        .description
          p 
            | Orientate yourself! Get more familiar with the school 
            | environment and find out more about school life!


    .project-row
      a(href=url('rag-flag')).project.rag
        p.aspect 
          span Bond
        h2 
          | RAG 
          span.amp & 
          | FLAG 
        
        p.date May-August
        
        .description
          p 
            | Bond together as one SoC family! Construct magnificent 
            | floats and dance together to show our SoC spirit!
            
          
      a(href=url('bash')).project.bash
        p.aspect 
          span Celebrate 
        h2 Bash 
        p.date 12 August
        
        .description
          p 
            | Celebrate the end of Orientation with a blast! Join us 
            | to crown the next Mr and Ms SoC!
  
  section.timeline-container
    .timeline
      header
        h2 Timeline of events
        a.btn.btn-primary(href='https://calendar.google.com/calendar/embed?src=mpenqpun7rjhup57d2cscg0i88%40group.calendar.google.com&ctz=Asia/Singapore',target='_blank')
          | View in Google Calendar 

      h3 June
      
      ul
        li 
          .tl-date 11-14 
          .tl-desc Freshmen Social Camp (FSC)
        
        li
          .tl-date 17 
          .tl-desc RAG Induction
      
      h3 July
      
      ul
        li 
          .tl-date 8
            span.time 1000 - 1200
          .tl-desc
            h4: a(href='http://ww1.math.nus.edu.sg/undergrad.aspx?f=stu-1301test',target='_blank') 
              | MA1301 Introductory Mathematics Proficiency Test
            p
              strong Sign up deadline: 
              | 4 July - 1700 hrs, Office of Undergraduate Studies

        li
          .tl-date 11, 12, 14 
            span.time 0900 - 1700
              br
              | LT15 at AS6
          .tl-desc
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/fpw/refresher/',target='_blank')
              | Programming Refresher Workshop for Poly students
            p
              strong Sign up deadline: 
              | 10 June
            p 
              | This problem-based refresher workshop will guide participants through 
              | several problem-solving exercises which are commonly covered in 
              | #[a.module(title='Programming Methodology',href='https://nusmods.com/modules/CS1010') CS1010]  
              | (or its equivalent). Programming skills covered include: array manipulation, 
              | iterations, recursion, sorting and searching. Corresponding problem-solving 
              | skills covered include: manipulation of both collections of homogeneous 
              | data and numerical data through repetitive process and divide-and-conquer 
              | method.
        li 
          .tl-date 12
            span.time 1400 - 1600
          .tl-desc
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/exemptions/a-levels/',target='_blank')
              | CS1010 Placement Tests for Polytechnic Diploma and 'A' level holders  
            p
              strong Sign up deadline: 
              | 4 July - 1700 hrs, Office of Undergraduate Studies

        li
          .tl-date 13 
            span.time 0930 - 1045
          .tl-desc
            h4: a(href='http://www.nus.edu.sg/celc/programmes/qet.php',target='_blank') 
              | Qualifying English Test (QET)
            p
              strong Sign up deadline: 
              | 5 July
            p 
              | The QET is an English Language test set by the Centre for English Language Communication. 
              | It must be taken by students who do not possess the necessary English Language 
              | qualifications when they enter the university.
        
        li
          .tl-date 18 
            span.time 0930 - 1630
              br
              a(href='https://www.google.com.sg/maps/place/i3+Auditorium/@1.2926939,103.7733481,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1a558be07db5:0x19fbcf7c5d63f179!8m2!3d1.2926939!4d103.7755368?hl=en',target='_blank') 
                | i3 Auditorium  
          .tl-desc 
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/useful-links/',target='_blank')
              | Faculty and Department Briefing
            p
              | Faculty Briefing (CS/IS/Business Analytics/Information Security courses) and 
              | #[abbr(title='Centralised Online Undergraduates Registration System') CORS] 
              | Briefing in the morning, and CS Department Programme Briefing followed by 
              | about your 1#[sup st] programming course in CS1010 or CS1101S in the afternoon.
        
        li
          .tl-date 
            | 19, 20, 22
            span.time 0900 - 1700
              br
              | Seminar Room 1 at COM1
          .tl-desc
            h4: a(href='http://www.comp.nus.edu.sg/programmes/ug/fpw/ipw/',target='_blank') 
              | Introduction to Programming Workshop for JC students
            p
              strong Sign up deadline: 
              | 10 June
            p
              | A workshop designed to answer questions like “What is programming? Is programming 
              | hard?” It is targeted at students who have #[strong never] programmed before 
              | and have absolutely no idea what programming is.
            
        li
          .tl-date 24 - 27 
          .tl-desc Freshmen Orientation Week (FOW)
        
        li
          .tl-date 28 - 29
          .tl-desc 
            h4 
              abbr(title='Centralised Online Undergraduates Registration System') CORS
              |  Bidding Round 1C
        
        li 
          .tl-date 29
          .tl-desc Academic Day 
      
      h3 August
      
      ul
        li
          .tl-date 1#[sup st]
            span.time 
              a(href='https://www.google.com.sg/maps/place/University+Cultural+Centre/@1.3015111,103.7696919,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1af6fa0e402f:0xd7b19dcc6f0f4ca7!8m2!3d1.3015111!4d103.7718806?hl=en',target='_blank') 
                | University Cultural Centre
          .tl-desc 
            h4: a(href='http://nus.edu.sg/osa/so/events/fic',target='_blank')
              | Freshmen Inauguration Ceremony (FIC)
            p
              | An annual event attended by NUS Senior 
              | Management, Administrators, Student Leaders and freshmen, with the aim of welcoming 
              | the newly-matriculated freshmen into the University. The ceremony features The FIC 
              | Musical, a light-hearted, tongue-in-cheek musical production which depicts the chronicles 
              | of NUS students throughout their university life. 
            
        li
          .tl-date 2 
          .tl-desc Flag Day
        
        li
          .tl-date 3
            span.time 1415 - 1730
          .tl-desc
            h4 Dean’s Welcome to All Freshmen
            p 
              | COM1 Level 2 Room 6 (Seminar Room 1) & COM1 Level 2 Foyer
        
        li
          .tl-date 6 
          .tl-desc RAG Day
        
        li
          .tl-date 12 
          .tl-desc Bash
      
  
  section.people
    h2 Proudly brought to you by these awesome people
    
    -var people = faces('img/fop', ['Head'])
    
    ul.faces.directors
      each person in people[0]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job
    
    ul.faces.plebs
      each person in people[1]
        li
          img(src=person.file, alt='')
          p.name= person.name
          p.job= person.job    
    
    include ../partials/credit